body {
	background-image: url("MakeHappy.jpg");
	background-repeat: no-repeat;
	background-position: 200px 60px;
	background-size: 2000px;
	background-color: black;
  }
/*Encabezado*/
.Encabezado{
    background-color: rgb(47, 47, 47);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
}
.titulop{
	margin-top: 100px;
	margin-left: 50px;
	height: 200px;
    width: 650px;
}
.logo{
	margin-top: 2px;
	margin-bottom: 10px;
    height: 55px;
    width: 110px;
	cursor: pointer;
}
.logoGrande{
    height: 150px;
    width: 400px;
	position: absolute;
  	top: 10%;
  	left: 35%;
  	
}
.icon-bar{
	background-color: #008F56;
}
.Navegacion {
    color: #000000;
    margin: 10px;
    padding-bottom: 5px;
    font-size: 20px;
	cursor:pointer;
    
}
.Navegacion:hover{
	display: inline-block;
	border-bottom: solid;
	border-radius: 5px;
    border-width: 5px;
    border-color: #008F56;
    color: #008F56;
    text-decoration: none;
}

.oda {
	margin: 10px;
	color: rgb(74, 133, 34);
  	text-decoration: none;
	font: 15px sans-serif;
	cursor:pointer;
}
.oda:hover {
	text-decoration: none;
	color: rgb(74, 133, 34);
}



#CerrarSesion{
	background-color: #008F56;
	color: #ffffff;
    padding: 10px;
    margin-top: 10px;
    font-size: 20px;
    border-radius: 25px;
    border:none;
}

.BotonHome{
	padding-top: 10px;
	float: right;
	margin-bottom: 10px;
	display: inline-block;
	
}

.Home{
	width: 70px;
	height: 70px;
	cursor:pointer;
}
/*********************************Cuerpo********************************/



/* Cuerpo Home*/
#Cuerpo{
	background-color: rgb(51, 51, 51);
	height: 200px;
}
#Cuerpo2{
	padding-top: 35px;
	background-color: rgb(74, 74, 74);
	height: 800px;
    left: 50%;
}
#CuerpoBusca{
	background-color: #F1F1F1;
	height: 800px;
	position: relative;
}

#Bienvenido{
	font-size: 45px;
	color: #5c636e;
	padding-bottom: 25px;
	padding-left: 40px;
	padding-top: 50px;
}
#Frase{
	padding-left: 40px;
	font-size: 45px;
	color:black;
}
#Pizza{
	margin-top: 50px;
	position: absolute;
	border-radius: 15px;
    width: 650px;
    }

#Figura{
	position: absolute;
}

/*Cuerpo Demas*/
.Titulo3{
	text-align: right;
	font: 30px Arial Black;
	color:rgb(102, 21, 123);
	text-decoration: none;
}
.Titulo3:hover{
	color:rgb(102, 21, 123);
	cursor:default;
}
.Titulo{
	width: 500px;
	font: 30px Arial Black;
	color:rgb(129, 203, 71);
	text-decoration: none;
	margin-left: 50px;
}
.Titulo:hover{
	color:rgb(129, 203, 71);
	cursor:default;
}
.Titulo2{
	width: 500px;
	font: 20px Georgia;
	color:rgb(79, 79, 79);
	text-decoration: none;
	margin-left: 50px;
}
.Titulo2:hover{
	color:rgb(79, 79, 79);
	cursor:default;
}
.MenuIzq{
	padding-top: 30px;
	margin-left: 50px;
}
.PanelIzq{
	position: relative;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
	margin-top: 10px;
	background-color: #FFFFFF;
	height: 650px;
	width: 300px;
	text-align: center;
}
.PizzaPanel{
	height: 150px;
	width: 300px;
	position: absolute;
	left: 0;
    bottom: 0;
}

/*Cuerpo promociones*/
.TituloPromo::before{
	content: "";
  	width: 60%;
	border-top-style: solid;
    border-width: 1px;
	position: relative;
	display: block;
	border-color: #5c636e;
	margin-bottom: 10px;
	left: 20%;
	bottom: 97%;
}
.TituloPromo{
	color: #008F56;
	font-size: 20px;
	padding-top: 10px;
	margin-bottom: 20px;
}
.TituloPromo::after{
	padding: 3px;
	content: "";
  	width: 60%;
	position: relative;
	display: block;
	border-bottom-style: solid;
    border-width: 1px;
	border-color: #5c636e;
	left: 20%;
}

.CabezaTabla{
	background-color: #5c636e;
	color: #F1F1F1;
}
#TablaPromos{
	margin-top: 100px;
}
#TablaPed{
	margin-top: 20px;
}


.TituloPromoSolo{
	color: #008F56;
	font-size: 20px;
	
}
.EncabezadoCalendario{
	color: #F1F1F1;
	font-size: 20px;
	font-weight: bold;
	background-color: #81b214;
	margin-left: 40px;
	margin-right: 40px;
}
.LogoPanel{
	width: 100px;
	height: 100px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.Textbox{
	color: #5c636e;
	font-weight: bold;
	width: 220px;
	border-radius: 20px;
	font-size: 14px;
	padding: 6px;
	border-color: #5c636e;
	border-width: 2px;
	border-style:solid;
	margin-bottom: 7px;
}
.Busqueda{
	color: #5c636e;
	font-weight: bold;
	width: 400px;
	border-radius: 20px;
	font-size: 14px;
	padding: 6px;
	border-color: #5c636e;
	border-width: 2px;
	border-style:solid;
	margin-bottom: 7px;
	position: absolute;
  	top: 30%;
  	left: 35%;
}
.Combo{
	color: #5c636e;
	font-weight: bold;
	width: 220px;
	border-radius: 20px;
	font-size: 14px;
	border-color: #5c636e;
	padding: 6px;
	border-width: 2px;
	border-style:solid;
	margin-bottom: 7px;
}
#BotonPromo{
	background-color: #008F56;
	color: #ffffff;
    padding: 5px;
	padding-left: 30px;
	padding-right: 30px;
    margin-top: 10px;
    font-size: 20px;
    border-radius: 25px;
    border:none;

}
#BotonBusqueda
{
	background-color: #008F56;
	color: #ffffff;
    padding: 5px;
	padding-left: 30px;
	padding-right: 30px;
    margin-top: 10px;
    font-size: 20px;
    border-radius: 25px;
    border:none;
	position: absolute;
  	top: 35%;
  	left: 58%;
}

table tr:nth-child(even) td{
    background-color: #ffffff;
}
.botonesPromo{
	float: right;
}
.Calendario{
	margin-left: 40px;
	width: 220px;
	font-size: 20px;
	margin-bottom: 10px;
}
.Tablascroll{
	height: 500px;
	overflow-y:scroll;
	overflow-x: hidden;
}
.renglonTabla:hover{
	cursor:pointer;
	border-width: 2px;
	border-style: solid;
	border-color: #008F56;
}
#Invicible{
	background:transparent;
	position:absolute;
	border:none;
	color:transparent;
	width: 5px;
	height: 20px;
}
#BotonTabla{
	background-color: #008F56;
	color: #ffffff;
	border-radius: 25px;
    border:none;
}
/*Logn*/
#PanelLogin{
	border-width: 0;
	border-bottom-width: 2px;
}
#Alerta{
	padding: 50px;
	font-size: 20px;
	width: 450px;
}
#Confirmacion{
	font-size: 20px;
	width: 280px;
}
#Modal1{
	font-size: 20px;
	text-align: center;
	width: 300px;
	overflow-y:scroll;
	overflow-x: hidden;
}
#BotonModal{
	background-color: #008F56;
	color: #ffffff;
    padding: 3px;
	padding-left: 30px;
	padding-right: 30px;
    margin-top: 10px;
    font-size: 16px;
    border-radius: 25px;
    border:none;

}
.renglonTabla2{
	padding: 0px;
}
.renglonTabla2:hover{
	cursor:pointer;
	border-width: 2px;
	border-style: solid;
	border-color: #008F56;
}
#mensaje{
	padding-left: 48px;
}
/*Revisar pedido*/
.textoRevisar{
	font-size: 18px;
	color: #5c636e;
	padding-left: 15px;
	padding-top: 15px;
}
.textoRevisar1{
	font-size: 18px;
	color: #5c636e;
	padding-left: 15px;
	padding-right: 40px;
	padding-top: 15px;
	height: 200px;
	overflow-y:scroll;
	overflow-x: hidden;
}
.PanelPedido{
	position: relative;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
	margin-top: 10px;
	background-color: #FFFFFF;
	height: 650px;
	width: 300px;
}

.scroll{
	margin-top: 90px;
	background-color: #FFFFFF;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
	height: 650px;
	overflow-y:scroll;
	overflow-x: hidden;
}
.LogoPanelRe{
	width: 130px;
	height: 130px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.logopedido{
	display: inline-block;
	font-size: 18px;
	color: #5c636e;
	padding-left: 15px;
	padding-top: 15px;
}
.PanelPedidos{
	display: inline-block;
	font-size: 18px;
	color: #5c636e;
	padding-left: 15px;
	padding-top: 15px;
	text-align: center;
}
#BotonPedido{
	background-color: #008F56;
	color: #ffffff;
	border-radius: 25px;
    border:none;
}
.ContenidoModal{
	text-align: center;
}
/*Pie de pagina*/
/*boton chido*/
.menu {
	display: flex;
	justify-content: center;
  }
  
  
  .menu a {
	position: relative;
	display: block;
	padding: 5px;
  }
  .menu li {
	margin-right: 20px;
	list-style-type:none;
	padding-top: 10px;
  }


  .menu a::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background: linear-gradient(to right, rgb(242, 243, 211), rgb(216, 217, 184), rgb(195, 196, 165));
	z-index: 1;
	transform: scaleX(0);
	transform-origin: left;
	transition: transform 0.5s ease-in-out;
  }
  
  .menu a:hover::before {
	transform: scaleX(1);
  }
  
  
  /* ANIMATIONS
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .menu[data-animation="to-left"] a::before {
	transform-origin: right;
  }
  .menu[data-animation="center"] a::before {
	transform-origin: center;
  }
  .menu[data-animation="bonus"] a::before {
	transform-origin: right;
  }
  .menu[data-animation="bonus"] a:hover::before {
	transform-origin: left;
	transform: scaleX(1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.82, 0.94);
  }
 
  /*REDES SOCIALES*/

  .wrapper {
	position: absolute;
	margin-left: 15px;
	margin-bottom: 35px;
  } 
  ul li .fa {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 20px;
	color: #fff;
  } 
  .slider {
	content: "";
	position: absolute;
	top: 0;
	left: 51px;
	width: 0px;
	height: 50px;
	background: #ee5c5c;
	border-radius: 3px;
	transition: all 0.5s 0.3s ease;
  } 
  .slider p {
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 900;
	color: #fff;
	text-align: center;
	line-height: 50px;
	opacity: 0;
	transition: all 0.6s ease;
  } 
  .encima:hover .slider{
	width: 180px;
	transition: all 0.5s ease;
  }
  .encima:hover .slider p{
	opacity: 1;
	transition: all 1s 0.2s ease;
  }
  /*Figura*/
  .figura{
	width:600px;
	height:700px;
	position: absolute;
	top:655px;
	left:-12px;
  }
/*Pie de pagina*/



/*LOGIN */


.login-wrap{
	width:100%;
	margin:auto;
    left: 50%;
	max-width:525px;
	min-height:670px;
	position:relative;
	background:url(https://raw.githubusercontent.com/khadkamhn/day-01-login-form/master/img/bg.jpg) no-repeat center;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
.login-html{
	width:100%;
	height:100%;
	position:absolute;
	padding:90px 70px 50px 70px;
	background:rgba(40,57,101,.9);
}
.login-html .sign-in-htm,
.login-html .sign-up-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	transform:rotateY(180deg);
	backface-visibility:hidden;
	transition:all .4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
	display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
}
.login-html .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
	color:#fff;
	border-color:#1161ee;
}
.login-form{
	min-height:345px;
	position:relative;
	perspective:1000px;
	transform-style:preserve-3d;
}
.login-form .group{
	margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
	width:100%;
	color:#fff;
	display:block;
}
.login-form .group .input,
.login-form .group .button{
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(255,255,255,.1);
}
.login-form .group input[data-type="password"]{
	text-security:circle;
	-webkit-text-security:circle;
}
.login-form .group .label{
	color:#aaa;
	font-size:12px;
}
.login-form .group .button{
	background:#1161ee;
}
.login-form .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
	top:6px;
	right:0;
	transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
	color:#fff;
}
.login-form .group .check:checked + label .icon{
	background:#1161ee;
}
.login-form .group .check:checked + label .icon:before{
	transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
	transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
	transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
	transform:rotate(0);
}

.hr{
	height:2px;
	margin:60px 0 50px 0;
	background:rgba(255,255,255,.2);
}
.foot-lnk{
	text-align:center;
}