
/*Encabezado*/
.Encabezado{
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
}

.logo{
    height: 75px;
    width: 200px;
}
.icon-bar{
	background-color: #F8B500;
}
.Navegacion {
    color: #F8B500;
    margin: 10px;
    padding-bottom: 5px;
    font-size: 20px;
    
}
.Navegacion:hover{
	display: inline-block;
	border-bottom: solid;
	border-radius: 5px;
    border-width: 5px;
    border-color: #F8B500;
    color: #F8B500;
    text-decoration: none;
}

#CerrarSesion{
	background-color: #F8B500;
	color: #ffffff;
    padding: 10px;
    margin-top: 10px;
    font-size: 20px;
    border-radius: 25px;
    border:none;
}

.BotonHome{
	padding-top: 10px;
	float: right;
	margin-bottom: 10px;
	display: inline-block;
}

.Home{
	width: 70px;
	height: 70px;
}
/*********************************Cuerpo********************************/



/* Cuerpo Home*/
#Cuerpo{
	background-color: #F1F1F1;
	height: 900px;
}

#Bienvenido{
	font-size: 45px;
	color: #5c636e;
	padding-bottom: 25px;
	padding-left: 40px;
	padding-top: 50px;
}
#Frase{
	padding-left: 40px;
	font-size: 45px;
	color:black;
}
#Pizza{
	margin-top: 50px;
	position: absolute;
	border-radius: 15px;
    width: 650px;
    }

#Figura{
	position: absolute;
}

/*Cuerpo Demas*/
.Titulo{
	width: 500px;
	font-size: 30px;
	color:black;
}
.MenuIzq{
	padding-top: 30px;
	margin-left: 50px;
}
.PanelIzq{
	position: relative;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
	margin-top: 10px;
	background-color: #FFFFFF;
	height: 650px;
	width: 300px;
}
.PizzaPanel{
	height: 150px;
	width: 300px;
	position: absolute;
	left: 0;
    bottom: 0;
}
/*Pie de pagina*/